.btn{
    display: inline-block;
    line-height: 1;
    padding: 12px 24px;
    border-radius: 6px;
    text-align: center;
    font-size: .915rem;
    
    @mixin smallScreen{
        font-size: 0.915rem;
    }
    @mixin mediumScreen{
        padding: 0.75rem 1.5rem;
    }
    
    &-blue{
        color: $white;
        background-color: $mainBlue;
    }
    &-white{
        background: $white;
        color: $mainBlue;
    }
    
    &:hover{
        background-color: $btnHoverBlue;
    }
}