footer{
    padding: 10px;
    background: $mainBlue;
    color: $white;
    
/*
    a{
        text-decoration: none;
        padding: .4rem;
        background: $white;
        color: $mainBlue;
        border-radius: 5px;
    }
*/
}