.section{
    padding: 80px 0;
    
    &-bg-light{
        background-color: $lightgrey;
    }
    
    &-bg-blue{
        background-color: $mainBlue;
    }
    
}

.d-block{
    display: block;
}
.p-b-0{
    padding-bottom: 0;
}

.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-end{
    text-align: end;
}
.text-justify{
    text-align: justify;
}